@import-normalize;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,'Open Sans', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: rgb(84, 110, 122);
  }
  
  code {
    font-family: 'Montserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  ul{
    list-style: none;
  }